Language: Cpp
BasedOnStyle: LLVM
AccessModifierOffset: -4
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignOperands: false
AlignTrailingComments: false
AlwaysBreakTemplateDeclarations: Yes
BreakConstructorInitializersBeforeComma: true
BreakBeforeBraces: Custom
ColumnLimit: 120
IndentCaseBlocks: true
IndentWidth: 4
InsertNewlineAtEOF: true
SeparateDefinitionBlocks: Always
MacroBlockBegin: ''
MacroBlockEnd: ''
MaxEmptyLinesToKeep: 2
NamespaceIndentation: All
PointerAlignment: Left
SpaceInEmptyParentheses: false
SpacesInAngles: false
SpacesInConditionalStatement: false
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
TabWidth: 4
AllowShortIfStatementsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Empty
BraceWrapping:
  AfterFunction: false
  AfterEnum: false
  AfterCaseLabel: false
  AfterStruct: false
  AfterObjCDeclaration: false
  AfterClass: false
  AfterControlStatement: false
  AfterExternBlock: false
  AfterNamespace: false
  AfterUnion: false